doctype html
//if lt IE 7
//if IE 7
//if IE 8
//if gt IE 8

- var PATCH = `11.16.1`;
- var TILE_PATH = `https://cdn.communitydragon.org/${PATCH}/champion/`

head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title League APP
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='/styles.css')
    link(rel='icon' href='favicon.png')
//if lt IE 7
  p.browsehappy
    | You are using an 
    strong outdated
    |  browser. Please 
    a(href='#') upgrade your browser
    |  to improve your experience.
.imgDiv
    img(src='logo.png' alt='League of Legends logo' width='440' height='174')
    h1 League of Legends Statistics App
    form(action='/lol/query')
        input#name(type='text' name='name' placeholder='Name')
        input(type='submit' value='Submit')

.freeChampions 
    h3= `Weekly Champion Rotation`
    .row
        //1
        .column 
            h4= list[0]
            img(src=`${TILE_PATH}${list[0]}/tile` alt=list[0])
        //2
        .column
            h4= list[1]
            img(src=`${TILE_PATH}${list[1]}/tile` alt=list[1])
        //3
        .column
            h4= list[2]
            img(src=`${TILE_PATH}${list[2]}/tile` alt=list[2])
        //4
        .column
            h4= list[3]
            img(src=`${TILE_PATH}${list[3]}/tile` alt=list[3])
        //5
        .column
            h4= list[4]
            img(src=`${TILE_PATH}${list[4]}/tile` alt=list[4])
        //6
        .column
            h4= list[5]
            img(src=`${TILE_PATH}${list[5]}/tile` alt=list[5])
        //7
        .column
            h4= list[6]
            img(src=`${TILE_PATH}${list[6]}/tile` alt=list[6])
        //8
        .column
            h4= list[7]
            img(src=`${TILE_PATH}${list[7]}/tile` alt=list[7])
        //9
        .column
            h4= list[8]
            img(src=`${TILE_PATH}${list[8]}/tile` alt=list[8])
        //10
        .column
            h4= list[9]
            img(src=`${TILE_PATH}${list[9]}/tile` alt=list[9])
        //11
        .column
            h4= list[10]
            img(src=`${TILE_PATH}${list[10]}/tile` alt=list[10])
        //12
        .column
            h4= list[11]
            img(src=`${TILE_PATH}${list[11]}/tile` alt=list[11])
        //13
        .column
            h4= list[12]
            img(src=`${TILE_PATH}${list[12]}/tile` alt=list[12])
        //14
        .column
            h4= list[13]
            img(src=`${TILE_PATH}${list[13]}/tile` alt=list[13])
        //15
        .column
            h4= list[14]
            img(src=`${TILE_PATH}${list[14]}/tile` alt=list[14])
    



script(src='' async='' defer='')
